html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Kotta One', serif;

}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

.container {
  width: 75%;
  margin: 0 auto;
  color: #A39B9B;
}

a {
  text-decoration: none;
  color: #C7CCC2;
}

a:hover {
  color: #D3A7FF;
}


/*HEADER STYLES*/

header {

}

#top-header {
  border-bottom: 2px solid black;
  height: 100px;
}

#upper-left-header-container {
  margin-top: 1em;
  display: inline-block;
  float: left;
}

#instagram-oauth {
  padding-bottom: 1em;
}
#upper-left-header-container div {
  display: inline-block;
  float: left;
  padding-right: 0.50em;
}

#upper-left-header-container a:hover {
  color: #D3A7FF;
}

#upper-right-header-container {
  display: inline-block;
  float: right;
}

#site-name {
  font-size: 4em;
  width: 250px;
  margin: 0 auto;
  color: #D3A7FF;
  font-family: 'Kaushan Script', cursive;
}

#instagram-connect {
  display: block;
  text-align: left;
}

#social-buttons {
  display: block;
  text-align: left;
}

nav {
  width: 75%;
  margin: 0 auto;
  border-bottom: 2px solid lightgray;
}

nav ul {
    width: 550px;
    height: 80px;
    margin: 0 auto;
    padding: 2em;
}

nav li {
  list-style: none;
  display: inline-block;
  color: #C7CCC2;
  padding-left: 1em;
}

/*MAIN ELEMENT STYLING*/

main {
  padding: 2em;
  width: 80%;
  margin: 0 auto;
}

#main-content-left {
  width: 60%;
  float: left;
  margin-bottom: 2em;

}

#main-content-right {
  width: 40%;
  float: right;
  margin: 0 auto;
  margin-top: 1em;
  padding-left: 1em;
}

#main-content-right img {
  padding: 0.25em;
}

#main-div-footer {
  border-top: 2px solid lightgray;
  padding-top: 1.5em;
  padding-bottom: 0;
  text-align: center;
  margin: 0 auto;
  margin-top: 0;
  background: whitesmoke;
  display: block;
  clear: both;
  font-size: 2em;
}

#main-div-footer p {
  margin: 0;
}


/*TWITTER FEED STYLING*/

#twitter-feed {
  margin: 0 auto;
  margin-top: 2em;
  display: block;
  padding: 1em;
  border-top: 1px solid lightgray;
  margin-top: 2em;
  padding-bottom: 0.5em;
}

#twitter-feed a {
  color: #333333;
  font-size: 1.1em;
}

/*ARTICLES STYLING*/

#articles {
  margin: 0 auto;
  display: block;
  background: white;
  padding: 1em;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin-top: 2em;
  padding-bottom: 0.5em;
}

#articles a {
  color: #333333;
  font-size: 1.25em;
}

.article-span {
  width: 60%;
  margin: 0 auto;
  color: darkgray;
}

.article-header {
  text-align: center;
  color: #D3A7FF;

}

/*FOOTER STYLING*/

footer {
  height: 100px;
  display: block;
  background: #D3A7FF;
}

footer p {
  text-align: center;
  color: gray;
}
