<div class="container">

  <header>
    <div id = "top-header">
      <div id="upper-left-header-container">
        <div id="social">Social links go here upper left</div>
      </div>

      <div id="site-name">marisa</div>

      <div id="upper-right-header-container">
        <div id="login-signup">login signup links</div>
        <div id="search">search bar</div>
      </div>
    </div>

    <nav>
      <ul>
        <li>SHOP</li>
        <li>GO</li>
        <li>BE</li>
        <li>DO</li>
        <li>SEE</li>
        <li>MAKE</li>
        <li>GET</li>
      <ul>
    </nav>

  </header>

  <main>
    <div id="main-content-left">big picture here</div>
    <div id="main-content-right">right picture here</div>
    </div>

    <div id = "main-div-footer">some stuff in a gray bar here</div>
  </main>

  <div id="shop">scroll some shopping stuff here</div>

  <div id="articles">add articles here</div>


  <footer>footer stuff here</footer>

</div>
